[package]
name = "azora-kernel"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]

[dependencies]
bitflags = "2.0"
alloc = { version = "1.0", package = "rust-alloc" }

[profile.release]
opt-level = 3
debug = false
lto = true
panic = "abort"
