version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: azora-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - azora-network

  grafana:
    image: grafana/grafana:latest
    container_name: azora-grafana
    ports:
      - "3100:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=azora2025
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana-dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    networks:
      - azora-network
    depends_on:
      - prometheus

  loki:
    image: grafana/loki:latest
    container_name: azora-loki
    ports:
      - "3101:3100"
    volumes:
      - ./loki-config.yml:/etc/loki/local-config.yaml
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - azora-network

volumes:
  prometheus-data:
  grafana-data:
  loki-data:

networks:
  azora-network:
    external: true
