PORT=3033
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001"
KYC_SERVICE_URL="http://localhost:3027"
TAMPER_PROOF_SERVICE_URL="http://localhost:3028"
GOVERNANCE_SERVICE_URL="http://localhost:3026"
SUBSCRIPTION_SERVICE_URL="http://localhost:3029"
LENDING_SERVICE_URL="http://localhost:3030"
ENTERPRISE_SERVICE_URL="http://localhost:3031"